/* RESET */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* MAIN */
#playground{
    width: 80%;
    height: 100vh;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black;
}

.tile{
    height: 100px;
    width: 100px;
    background-color: green;
    border: 1px solid red;
   
}

.color_switch{
    background-color: red;
}