/* RESET */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* MAIN */
#playground{
    width: 400px;
    height: 400px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black;
    background-color: cornsilk;
}

#playground div {
    height: 40px;
    width: 40px;
    background-color: green;
    border: 1px solid black;
}

.color_switch{
    background-color: red;
}